@media only screen and (max-width: 1024px) {
    .root,
    .content {
        width: 928px;
    }
}

@media only screen and (max-width: 768px) {
    .root,
    .content {
        width: 100%;
    }

    .intro-content {
        width: 100%;
    }

    .lead__title {
        width: 100%;
    }
    .lead__subtitle {
        width: 80%;
    }

    .header,
    .intro-content,
    .intro__title,
    .image-caption {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media only screen and (max-width: 375px) {
    .header {
        width: 100%;
        height: 42px;
        padding: 16px 16px 0;
    }

    .lead__title {
        width: 100%;
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 8px;
    }

    .language-select {
        align-self: flex-end;
    }

    .language-select__lang {
        font-size: 18px;
        line-height: 17px;
    }

    .lead__subtitle {
        width: 70%;
        font-size: 16px;
        line-height: 23px;
    }

    .lead__image {
        margin-top: 30px;
    }

    .image-caption {
        margin-top: 8px;
    }

    .intro__title {
        font-size: 32px;
        line-height: 35px;
        margin-top: 64px;
        margin-bottom: 32px;
    }

    .intro-content-info {
        font-size: 12px;
        line-height: 19px;
    }

    .intro-content {
        width: 100%;
    }

    .intro-content__text {
        font-size: 16px;
        line-height: 27px;
    }

    .root,
    .content {
        width: 100%;
    }

    .header,
    .intro-content,
    .intro__title,
    .image-caption {
        padding-left: 16px;
        padding-right: 16px;
    }
}

