.header {
    width: 100%;
    padding-top: 30px;
    height: 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header__logo {
    height: inherit;
}

@media only screen and (max-width: 768px) {
    .header {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media only screen and (max-width: 375px) {
    .header {
        width: 100%;
        height: 42px;
        padding: 16px 16px 0;
    }
}
