@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/link/link.css);
@import url(../blocks/content/content.css);
@import url(../blocks/header/header.css);
@import url(../blocks/language-select/language-select.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro-content/intro-content.css);
@import url(../blocks/intro-content-info/intro-content-info.css);
@import url(../blocks/lead/lead.css);

* {
    box-sizing: border-box;
}

.page {
    background-color: #2A2C2F;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #FFFFFF;
}

.root {
    max-width: 1184px;
    margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
    .root {
        width: 928px;
    }
}

@media only screen and (max-width: 768px) {
    .root {
        width: 100%;
    }
}
